{{ define "content" }}
  <div class="heading">
    <h1 class="display-4"><img src="http://sia.tech/img/svg/sia-green-logo.svg" alt="Sia logo" /> paper wallet</h1>
    <p class="lead">For long-term storage of siacoin it's safest to use a paper wallet instead of keeping your siacoins in an exchange or online wallet. It's also a great way to gift friends!</p>
    <p class="lead">Just transfer siacoins into your new wallet, print the wallet, and keep it safe the way you would jewelry or cash.</p>
  </div>

  <section class="generate-wallet">
    <a
      class="btn generate-wallet-btn"
      href="/wallet"
      role="button">
      Generate Wallet
    </a>
  </section>
{{ end }}
