{{ define "content" }}
  <div class="heading">
    <h1 class="display-4">
      <img src="http://sia.tech/img/svg/sia-green-logo.svg" alt="Sia logo" />
      <div class="break-mobile"></div>
      paper wallet
      <div class="break-mobile"></div>
      generated.
    </h1>
    <p>Please print this page and story it in safe place. You can use the seed to recover any money sent to any of the addresses, without an online or synced wallet.</p>
  </div>


  <section class="info">
    <section class="seed">
      <h2 class="green">seed</h2>
      <ul class="list-unstyled">
        <li class="media">
          <img class="d-flex mr-3" src="data:image/png;base64,{{.SeedImage}}" />
          <div class="media-body align-self-center">
            <p class="small">{{.Seed}}</p>
          </div>
        </li>
      </ul>
    </section>
    <section class="addresses">
      <h2 class="green">addresses</h2>
      <ul class="list-unstyled">
        {{ range .AddressPairs }}
          <li class="media">
            <img class="d-flex mr-3" src="data:image/png;base64,{{.AddressImage}}" />
            <div class="media-body align-self-center">
              <p class="small">
                <a
                  class="dark-link"
                  target="_blank"
                  href="https://explore.sia.tech/hash.html?hash={{.Address}}">
                  {{.Address}}
                </a>
              </p>
              <hr class="mobile-address-hr" />
            </div>
          </li>
        {{ end }}
      </ul>
    </section>
  </section><!-- .info -->
{{ end }}
